extends ../layout

block content
  h1 Login
  form(method="POST", action="/login/process")
    p
        span Username
        input(type="text" name="username")
    p
        span Password
        input(type="password" name="password")
    p
        button(type="submit" value="Submit") Submit
    
  div#register
    span New user? 
        a(href='/register') Register