extends ../layout

block head-css
    link(rel='stylesheet', href='/lib/redactor/redactor.css')
    link(rel='stylesheet', href='/lib/redactor/plugins/clips/clips.css')

block head-js
    script(type='text/javascript', src='/lib/redactor/redactor.js')
    script(type='text/javascript', src='/lib/redactor/plugins/clips/clips.js')
    script(type='text/javascript', src='/lib/redactor/plugins/fontsize/fontsize.js')
    script(type='text/javascript', src='/lib/redactor/plugins/fontcolor/fontcolor.js')
    script(type='text/javascript', src='/lib/redactor/plugins/fontfamily/fontfamily.js')
    script(type='text/javascript', src='/lib/redactor/plugins/fullscreen/fullscreen.js')
    script(type='text/javascript', src='/javascripts/angular_common/global_errors.js')
    script(type='text/javascript', src='/javascripts/angular_common/custom_directives.js')
    script(type='text/javascript', src='/javascripts/reports/report_app.js')
    script(type='text/javascript', src='/javascripts/reports/service.js')
    script(type='text/javascript', src='/javascripts/reports/controller.js')

block content
    div(ng-app='ReportIt.report', ng-controller='ReportController', ng-init="init('#{report._id}')")
        div(app-messages).messagesList
        ol.breadcrumb
            li
                a(href='/dashboard') Dashboard
            li.active #{ breadcrumbText }
        div(ng-hide='requirementsMessagesEmpty()').alert.alert-danger
            div You cannot save this report yet ...
            div(ng-repeat='message in requirementMessages') {{ message }}
        div(ng-show='requirementsMessagesEmpty()')
            div.alert.alert-success You can save this report!
        div.row
          div.col-md-2
              div.row
                  include _report_settings
          div.col-md-10
              textarea(ng-model='report.content', redactor options='redactorOptions', name='content')
        div#clipsmodal.hidden
            div.snippets
                div(ng-repeat='snippet in snippets').snippet
                    a(href='').redactor_clip_link {{ snippet.name }}
                    pre {{ snippet.content }}
        
        