extends ../layout

block content
  div.container.narrow-container
    h1 Sign up!
    form(method="POST", action="/register/process", role='form').form-horizontal
      div.form-group
          label(for='firstname').control-label First Name
          input(type="text" name="firstname" id='firstname').form-control
      div.form-group
          label(for='lastname').control-label Last Name
          input(type="text" name="lastname", id='lastname').form-control
      div.form-group
          label(for='email').control-label Email
          input(type="text", name="email", id='email').form-control
      div.form-group
          label(for='password').control-label Password
          input(type="password" name="password" id='password').form-control
      div.form-group
          label(for='password-confirmation').control-label Password Confirmation
          input(type="password" name="password_confirmation" id='password-confirmation').form-control
      div.form-group
        button(type="submit" value="register").btn.btn-success Register