div.panel.panel-default
    div.panel-heading Organizations
    div.panel-body
        div.container
            div#organizations-container
                div.loading
            a(href='/organizations/add').btn.btn-success.pull-right Add