div.panel.panel-default
    div.panel-heading Reports
    div.panel-body
        div.container
            div#reports-container
                div.loading
            a(href='/reports/add').btn.btn-success.pull-right Add