div.panel.panel-default
    div.panel-heading Report Templates
    div.panel-body
        div(ng-controller='ReportTemplatesController').container
            div#report-templates-container
                ul
                    li(ng-hide='reportTemplates.length > 0') You have not created any templates.
                    li(ng-repeat="template in reportTemplates | orderBy:name:false")
                        span {{template.name}} &nbsp;&nbsp;
                        span ({{ template.client || 'No client' }})
                        div.pull-right
                            div.btn-group
                                button(type='button', data-toggle='dropdown').btn.btn-default.dropdown-toggle Export 
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/export/word/template/{{ template._id}}') Export to Word
                                    li
                                        a(href='/export/pdf/template/{{ template._id}}') Export to PDF
                            a(href='/report_templates/edit/{{template._id}}', title='Edit this template').btn.btn-default Edit
                            a(ng-click='destroy($index)', ng-disabled='deleting($index)', title='Delete this template').btn.btn-danger Delete
                        div.clearfix
            a(href='/report_templates/add', title='Create a new template').btn.btn-success.pull-right Add
               