div.panel.panel-default
    div.panel-heading Report Templates
    div.panel-body
        div.container
            div#report-templates-container
                div.loading
            a(href='/report_templates/add').btn.btn-success.pull-right Add