extends ../layout

block head-css
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block head-js
  script(type='text/javascript', src='/javascripts/dashboard.js')

block content
    div#user-actions.row
      div.col-md-6
        include _reports
        include _report_templates
      div.col-md-6
        include _snippets
        include _organizations