extends ../layout

block head-css
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block head-js
  script(type='text/javascript', src='/javascripts/dashboard/dashboard.js')
  script(type='text/javascript', src='/javascripts/angular_common/global_errors.js')
  script(type='text/javascript', src='/javascripts/dashboard/dashboard-app.js')
  script(type='text/javascript', src='/javascripts/dashboard/organizations/controller.js')
  script(type='text/javascript', src='/javascripts/dashboard/organizations/service.js')
  script(type='text/javascript', src='/javascripts/dashboard/snippets/service.js')
  script(type='text/javascript', src='/javascripts/dashboard/snippets/controller.js')
  script(type='text/javascript', src='/javascripts/dashboard/report_templates/service.js')
  script(type='text/javascript', src='/javascripts/dashboard/report_templates/controller.js')

block content
  div(ng-app='ReportIt.dashboard')
    div(app-messages).messagesList
    div#user-actions.row
      div.col-md-6
        include _reports
        include _report_templates
      div.col-md-6
        include _snippets
        include _organizations
block foot-js