li
    span #{organization.name}
    div.pull-right
        a(href='organizations/#{organization.id}/edit').btn.btn-default Edit
        a(href='organizations/#{organization.id}/delete').btn.btn-danger Delete
    div.clear