#user-actions
    ul
        list-style-type none
        li
            padding 5px
            border-bottom 1px solid #DCDCDC
        span, a
            margin-right 2px
            
#snippets-container
    .snippet
        margin-bottom 5px
    .snippet-content
        padding 5px
        background-color #DCDCDC
        border 1px solid Grey
    .snippet-actual
        margin-top 5px
