body {
  padding: 20px;
}
.right-pad {
  margin-right: 2px;
}
.clear {
  clear: both;
}
.loading {
  background-image: url("../images/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  height: 60px;
  width: 60px;
  text-align: center;
}
.top-margin5 {
  margin-top: 5px;
}
.main {
  margin-top: 60px;
}
.spacer5 {
  margin-top: 5px;
}
