body {
  padding: 20px;
}
#footer {
  border-radius: 4px;
  padding-top: 5px;
  margin-top: 10px;
  height: 30px;
  background-color: #f5f5f5;
}
#footer .credit {
  text-align: center;
}
.right-pad {
  margin-right: 2px;
}
.clear {
  clear: both;
}
.loading {
  background-image: url("../images/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  height: 60px;
  width: 60px;
  text-align: center;
}
.top-margin5 {
  margin-top: 5px;
}
.main {
  margin-top: 60px;
}
.spacer5 {
  margin-top: 5px;
}
.snippets {
  padding: 5px;
  max-height: 300px;
  scroll-y: auto;
}
#organizations-select {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
}
#user-actions ul {
  list-style-type: none;
}
#user-actions ul li {
  padding: 5px;
  border-bottom: 1px solid #dcdcdc;
}
#user-actions ul span,
#user-actions ul a {
  margin-right: 2px;
}
#snippets-container .snippet {
  margin-bottom: 5px;
}
#snippets-container .snippet-content {
  padding: 5px;
  background-color: #dcdcdc;
  border: 1px solid Grey;
}
#snippets-container .snippet-actual {
  margin-top: 5px;
}
