div.panel.panel-default
    div.panel-heading Snippets
    div.panel-body
        div.container
            div#snippets-container
                div.loading
            a(href='/snippets/add').btn.btn-success.btn-xs.pull-right Add