div.panel.panel-default
    div.panel-heading Template Information
    div.panel-body
        div.form-horizontal
            div.row
                div.col-lg-12
                    label(for='template_name').control-label Template Name
            div.row
                div.col-lg-12
                    input(type='text', value='#{ report_template.name }' name='template_name', id='template_name', placeholder='Name this template').form-control
            div.row
                div.col-lg-12
                    label(for='organization_id').control-label Organization
                    small &nbsp;
                        a(href='#', id='add-organization') (Create one)
            div.row
                div.col-lg-12
                    div#organizations-select-container
                        div.loading
            div.row
                div.col-lg-12
                    label(for='template_description').control-label Description
            div.row
                div.col-lg-12
                    textarea(name='template_description', id='template_description', rows='6').form-control #{ report_template.description }
            div.row
                div.col-lg-12.top-margin5
                    button(type='submit').btn.btn-success.form-control Save