li
    span(title='#{report_template.description}') #{report_template.name}
    div.pull-right
        a(href='report_templates/edit/#{report_template.id}').btn.btn-default Edit
        a(href='report_templates/delete/#{report_template.id}').btn.btn-danger Delete
    div.clear