li
    span #{report_template.name}
    div.pull-right
        a(href='report_templates/#{report_template.id}/edit').btn.btn-default Edit
        a(href='report_templates/#{report_template.id}/delete').btn.btn-danger Delete
    div.clear