extends ../layout

block head-js
    script(type='text/javascript', src='/lib/ckeditor/ckeditor.js')
    script(type='text/javascript', src='/javascripts/report_templates/add.js')

block content
    ol.breadcrumb
        li
            a(href='/dashboard') Dashboard
        li.active Create Report Template
    form(method='post' action='/report_templates/create')
        div.row
            div.col-md-2
                div.row
                    include _report_template_settings
                div.row
                    include ../snippets/_snippet_adder
            div.col-md-10
                textarea(name='report_template_content')#editor