extends ../layout

block head-css
    link(rel='stylesheet', href='/lib/redactor/redactor.css')
    link(rel='stylesheet', href='/lib/redactor/clips/clips.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')

block head-js
    script(type='text/javascript', src='/lib/redactor/redactor.min.js')
    script(type='text/javascript', src='/lib/redactor/clips/clips.js')
    script(type='text/javascript', src='/lib/redactor/fontsize/fontsize.js')
    script(type='text/javascript', src='/javascripts/report_templates/form.js')

block content
    ol.breadcrumb
        li
            a(href='/dashboard') Dashboard
        li.active Create Report Template
    if validation_errors
        div.alert.alert-danger.alert-dismissable
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            strong #{validation_errors.message}
            if validation_errors && validation_errors.errors.length > 0
                ol
                    - validation_errors.errors.forEach(function(e) {
                        li
                            span #{e.name + ' ' + e.type}
                    - })
    form(method='post' action='/report_templates/create', role='form').form-horizontal
        div.row
            div.col-md-2
                div.row
                    include _report_template_settings
                div.row
                    include ../snippets/_snippet_adder
            div.col-md-10
                textarea(name='report_template_content')#editor #{report_template.content}