{
    "development" : {
        "mongodb" : "mongodb://127.0.0.1/report_it_dev",
        "aws" : {
            "access_key_id" : "",
            "secret_access_key" : "",
            "bucket_name" : "",
            "region": ""
        }
    },
    "test" : {
        "mongodb" : "mongodb://127.0.0.1/report_it_test",
        "aws" : {
            "access_key_id" : "",
            "secret_access_key" : "",
            "bucket_name" : "",
            "region": ""
        }
    },
    "production" : {
        "mongodb" : "mongodb://127.0.0.1/report_it_prod",
        "aws" : {
            "access_key_id" : "",
            "secret_access_key" : "",
            "bucket_name" : "",
            "region": ""
        }
    }
}