{
    'development': {
        'mongodb': 'mongodb://127.0.0.1/inspect_it_dev'
    },
    
    'test': {
        'mongodb': 'mongodb://127.0.0.1/inspect_it_dev'
    },
    
    'production' : {
        'mongodb': 'mongodb://127.0.0.1/inspect_it_dev'
    }
}