div#session-timeout-dialog.modal.fade
    div.modal-dialog
        div.modal-content
            div.modal-header
                h4.modal-title Session Expiry!
            div.modal-body
                p#session-time-remaining
                p Do you want to extend your session?
            div.modal-footer
                button(type='button', id='extend-session-button').btn.btn.primary Yes
                button(type='button', id='no-extend-session-button').btn.btn.default No